body {
    background: #eceff1;
}

.main{
margin: 0;


}

div *{
  display: inline-block;
  padding: 20 px;
  text-align: center;
}

.center{
  text-align: center;
  padding: 20px;
  margin: 0;
  border-style:  none;
  border: 20;
  border-radius: 5px;
}
